<nav class="navbar">

  <a class="navbar-brand" href="#">Products</a>
 
  <ul class="nav-items">
 
   <li><a routerLink="/productlist" routerLinkActive="active">ProductList</a></li>
 
   <li><a routerLink="/addnewproduct" routerLinkActive="active">AddNewProduct</a></li>
 
   <li><a routerLink="/productdetails" routerLinkActive="active">ProductDetails</a></li>
 
   <li><a routerLink="/updateproduct" routerLinkActive="active">UpdateProduct</a></li>
 
   <li><a routerLink="/deleteproduct" routerLinkActive="active">DeleteProduct</a></li>
 
  </ul>
 
  <!-- <div class="search-bar">
 
   <input
 
    type="text"
 
    placeholder="Search..."
 
   />
 
  </div> -->
 
 </nav>
 
 <router-outlet></router-outlet>
 
 